* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: hsl(0deg, 0%, 60%);
  font-size: 18px;
  color: hsl(0deg, 0%, 0%);
}

.title {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 16px;
}

header {
  background-color: hsl(0deg, 0%, 100%);
}

header p {
  line-height: 1.5;
  font-size: 1.25rem;
  margin-top: 24px;
}

.max-width-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 0;
}

.intro-chunk,
.card {
  padding: 32px 24px;
}

.intro-chunk {
  width: 50%;
  min-width: 370px;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding-top: 8px;
  padding-bottom: 24px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 48px;
  margin-left: -48px;
  font-size: 1.5rem;
}

main p {
  line-height: 1.2;
  font-size: 1.25rem;
  margin-top: 24px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

em {
  font-style: italic;
}
